<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form accept-charset="utf-8" method="POST" id="login-form">
    <div id="login-error" style="display: none;">Wrong email or password</div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" autocapitalize="off" autocomplete="off"
               placeholder="Enter your email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" autocapitalize="off" autocomplete="off"
               placeholder="Enter your password" required>
    </div>
    <button type="submit" id="sign-in-submit">Sign In</button>
</form>

<script type="text/javascript" src="/js/other-page/login.js"></script>
</body>
</html>